<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuotingDojo</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
<!-- this fucker right  ∨     here -->
    <% for (var quote of quotes){ %>
        <div class="quote">
            <% console.log(quote) %>
            <p>"<%= quote.quote %>"</p>
            <p class="creator"><%= quote.name %> at <%= quote.createdAt %></p>
        </div>
    <% } %>
</body>
</html>