*{
    text-align: center;
}
h1{
    color: rgb(56,56,56)
}
.clicked{
    background-color: darkgoldenrod;
}

button{
    padding: 10px;
    border-radius: 5px;
    /* border-style: black 2px solid; */
}