<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Cat</title>
</head>
<body>
    <form action="/cats" method="post">
        <h1>New Cat</h1>
        <input type="text" name="name" id="name" placeholder="Name"><br>
        <input type="number" name="age" id="age" placeholder="Age" min="0" max="50"><br>
        <input type="text" name="color" id="color" placeholder="Color"><br>
        <input type="text" name="breed" id="breed" placeholder="Breed"><br>
        <button type="submit">Make new Cat!</button>
    </form>
</body>
</html>