#left, #right{
    width: 50%;
    padding: 10px;
    display: inline-block;
}
#left{
    text-align: right;
}
#right{
    text-align: left;
    color: darkred;
    font-weight: bold;
}
#form_container{
    display: flex;
}
p, input{
    padding: 0px;
    margin: 1px;
}