<div class="pretty">
  <h1>Retro Barcode Generator</h1>
  <div id="barcode">
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
    <app-barcode-generator></app-barcode-generator>
  </div>
</div><br>

<a href="/"><button>Reset</button></a>