/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(161, 161, 161);
}

.pretty{
    background-color: lightgrey;
    padding: 15px;
    border: 5px solid rgb(56, 56, 56);
    border-radius: 15px;
    text-align: left;
    display: inline-block;
}

ul{
    list-style: none;
    margin-left: -20px;
}

li{
    margin-bottom: 15px;
}

h1{
    font-size: 90px;
    margin: 10px 0px 0px 10px;
}