/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(98, 105, 133);
    text-align: center;
    /* display: inline-flex; */
    /* flex-direction: column; */
}
button{
    padding: 10px;
    border-radius:5px;
    font-weight: bold;
}
#barcode{
    text-align: center;
}